.root {
    -fx-background-image: url('SADC.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.grid-pane {
    -fx-padding: 20px;
}
.scroll-pane {
    -fx-background-image: url('SADC.png'); /* Background image URL */
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}


.button {
    -fx-background-color: #4CAF50; /* Green */
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #2E8B57; /* Darker Green */
    -fx-border-width: 1px;
    -fx-color: white;
    -fx-padding: 2px 5px;
    -fx-text-fill: BLUE;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #45a049; /* Darker Green */
}

.button:pressed {
    -fx-background-color: #4CAF50; /* Green */
}

.exit-button {
    -fx-alignment: center-right; /* Align button to the right */
    -fx-background-color: #f44336; /* Red */
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #B71C1C; /* Darker Red */
    -fx-border-width: 1px;
    -fx-color: white;
    -fx-padding: 2px 5px;
    -fx-text-fill: WHITE;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.exit-button:hover {
    -fx-background-color: #d32f2f; /* Darker Red */
}

.exit-button:pressed {
    -fx-background-color: #f44336; /* Red */
}
